# npm
node_modules

# clasp files
.clasp*
creds.json

# certs
*.pem
certs/

# build
dist/

# mac
.DS_Store

#secret
.env

.coverage

.dev.clasp.json
.prod.clasp.json

.dev.creds.json
.prod.creds.json 
